@font-face{
    font-family: 'sans-serif';
    src: url('../fonts/SourceSansPro-Regular.ttf');
    font-weight: normal;
}

@font-face{
    font-family: 'sans-serif';
    src: url('../fonts/SourceSansPro-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'body';
    src: url('../fonts/CrimsonText-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'body';
    src: url('../fonts/CrimsonText-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'body';
    src: url('../fonts/CrimsonText-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'mono';
    src: url('../fonts/SourceCodePro-SemiBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'mono';
    src: url('../fonts/SourceCodePro-Regular.ttf');
}

@font-face {
    font-family: 'mono';
    src: url('../fonts/SourceCodePro-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'code';
    src: url('../fonts/FiraCode-VF.ttf');
}

@font-face {
    font-family: 'code';
    src: url('../fonts/FiraCode-Bold.ttf');
    font-weight: bold;
}

/* TODO: Add ::-moz-selection and ::selection */

body {
    -webkit-font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
    -moz-font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
    font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'body';
    font-size: 22px;
    line-height: 1.3em;
    letter-spacing: 0.005em;
    margin: 0px;
    padding: 0px;
}

a {
    color: #4046DB;
    text-decoration: none;
}

a:visited {
    color: #4046DB;
}

a:hover {
    color: #4046DB;
}

#content {
    margin-bottom: 2rem;
}

.page {
    margin: 0 auto;
    padding: 0;
    width: 700px;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.post {
    margin: 15px auto;
}

h1, h2 { margin: 1.5em 0 0.5em; }

h2 {
    font-size: 32px;
    letter-spacing: 0.01em;
    font-weight: bold;
}

h3 {
    margin: 1em 0 -0.5em;
}

h3 {
    font-size: 28px;
    font-weight: bold;
}

h1 {
    font-family: 'sans-serif';
    font-size: 55px;
    font-weight: 900;
    line-height: 130%;
    margin: 1.5em 0 0.75em 0;
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home-grid-container {
    margin: 0 2em;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}


.home-grid-left {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    max-width: 800px;
}

.home-grid-right {
    padding: 20px;
    text-align: center;
    max-width: 400px;
}

.home-grid-container h1 {
    margin: 0 0 0.5em;
    text-align: unset;
}

.post .footnote-ref {
    text-decoration: none;
    border-bottom: none;
}

code, pre {
    font-family: 'code';
    font-size: 16px;
    display: block;
    box-sizing: border-box;
    max-width: 700px;  /* 4px border */
    page-break-inside: avoid;
    line-height: 1.3;
    letter-spacing: 0.001rem;
    /* margin: 1.3rem 0; */
}


/* For inline code */
p > code {
    display: inline;
    margin: 2px;
    padding: 2px 6px;
    /* match the body font size */
    font-size: 15px;
    background: ghostwhite !important;
}

h1 > code {
    display: inline;
    margin: 2px;
    padding: 2px 6px;
    background: ghostwhite !important;
}

h2 > code {
    display: inline;
    margin: 2px;
    padding: 2px 6px;
    background: ghostwhite !important;
}

h3 > code {
    display: inline;
    margin: 2px;
    padding: 2px 6px;
    background: ghostwhite !important;
}

h4 > code {
    display: inline;
    margin: 2px;
    padding: 2px 6px;
    background: ghostwhite !important;
}

li > code {
    display: inline;
    margin: 2px;
    padding: 2px 6px;
    background: ghostwhite !important;
}

.highlight {
    padding: 20px;
    border: 2px solid black;
    border-radius: 4px;
    max-width: 700px;  /* 4px border */
    margin: 1.3rem 0;
    box-sizing: border-box;
    display: block;
}

table pre {
    width: unset;
}

pre {
    /* Interesting alternatives in case I decide to add another color to
    pallette: #fff9f8, #faf8f5 */
    padding: 20px;
    margin: 1.3rem 0;
    border: 2px solid black;
    border-radius: 4px;
    overflow-x: scroll;
    display: block;
    box-sizing: border-box;
    max-width: 700px;
    /* white-space: pre-wrap; */
}

.highlight pre {
    margin: unset;
    border: unset;
    padding: unset;
}

.highlight > table {
    padding-right: unset;
    padding-left: unset;
}

blockquote  code {
    /* margin-left: 15px; */
    margin-left: unset;
    margin-right: unset;
}

blockquote  .highlight {
    /* margin-left: 15px; */
    margin-left: unset;
    margin-right: unset;
}

blockquote  pre {
    /* margin-left: 15px; */
    margin-left: unset;
    margin-right: unset;
}

blockquote {
    font-style: italic;
    color: #4046DB;
    margin: 1.5em 0 0.75em 0;
    border-left: 6px solid #4046DB;
    border-radius: 4px;
    padding: 0.5em 1em;
}

blockquote p {
    display: contents;
}

blockquote p::after {
    content: "\a\a";
    white-space: pre;
}

blockquote p:last-child::after {
    content: "" !important;
}

blockquote + p > cite {
    font-style: normal;
    text-align: right;
    display: block;
    font-size: 22px;
    margin-top: -22px;
    padding-right: 10px;
    color: #4046DB;
}

cite::before{
    content: "— ";
}

blockquote::before {
    content: "“";
    font-size: 72px;
    font-style: italic;
    opacity: 30%;
    left: -10px;
    top: 12px;
    position: relative;
    vertical-align: text-bottom;
    white-space: nowrap;
}

blockquote::after {
    content: "”";
    font-size: 72px;
    font-style: italic;
    opacity: 30%;
    top: 29px;
    right: -5px;
    position: relative;
    text-align: right;
    float: right;
}

.twitter-tweet {
    font: unset !important;
    font-family: 'body' !important;
    font-style: italic !important;
}

.timestamp {
    font-family: mono;
    font-style: normal;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: -0.01em;
    text-align: center;
    margin-top: 0.5em;
}

.break-line {
    margin-top: 1em;
    height: 3px;
    background: black;
}

.tag {
    display: inline;
    margin-left: 0.5em;
    font-family: mono;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.tag-list {
    display: inline-block;
}

.tag-list a {
    color: inherit;
}

.post-ender {
    display: block;
    font-family: mono;
    font-style: normal;
    font-size: 15px;
    letter-spacing: -0.01em;
    margin-top: 4em;
}

.share {
    display: inline;
    float: right;
}

.share__image {
    display: inline-block;
    vertical-align: sub;
    margin-right: 0.25em;
    margin-top: 4px;
}

.share__image img {
    vertical-align: sub;
}

.share__text {
    display: inline-block;
    text-transform: uppercase;
    vertical-align: top;
}

.menu {
    display: table;
    margin: 1em auto;
    align-content: center;
}

.menu > li {
    list-style: none;
    margin: 0 1.25em 0 0;
    display: inline;
}

.menu__item {
    color: rgba(100, 100, 100, 1) !important;
    border-bottom-color: transparent;
    text-decoration: none;
    display: inline-block;
    font-family: mono;
    font-size: 20px;
    padding: 5px;
}

.menu__item__inside {
    border-bottom: 2px ridge rgba(100, 100, 100, 0.5);
    font-weight: bold;
    color: black !important;
}

.about {
    margin: 2em auto;
    outline: 0.5px solid rgba(64, 70, 219, 0.2);
    padding-top: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
    font-size: 22px;
}

.t2 {
    margin: 0.5em auto;
    font-family: mono;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
}

.subscribe {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0.75em auto
}

.subscribe_column_layout .subscribe {
    flex-flow: column nowrap;
    width: 100%;
    padding-top: 5px;
    padding-bottom:5px;
}

.subscribe__email {
    padding: 17px;
    padding-left: 50px;
    height: 50px;
    width: 64%;
    border: 0.5px solid #4046DB;
    background-image: url('../images/mail.png');
    background-repeat: no-repeat;
    background-position: left center;
    outline: 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: mono;
}

.subscribe_column_layout .subscribe__email {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.subscribe input[type=email] {
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
}

.subscribe__button {
    font-family: mono;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    background: #4046DB;
    width: 34%;
    height: 50px;
    border: 0.5px solid #4046DB;
    border-radius: 5px;
    cursor: pointer;
}

.subscribe_column_layout .subscribe__button {
    width: 100%;
    /* height: 40px; */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: flex;
    padding: 20px 0px;
    width: 700px;
    justify-content: space-between;
}

footer div {
    flex-direction: column;
    font-size: 18px;
    color: #5E6071 !important;
}

footer code {
    background: unset;
    display: inline;
}

footer a{
    color: unset;
    border-bottom: 1px dotted #5E6071;
}

footer a:visited {
    color: unset;
}

.newsletter_description {
    margin-top: 10px;
}

#newsletter_fullpage {
    padding-left: 10%;
    padding-right: 10%;
}

#newsletter_fullpage > h1 {
    margin: 0px;
}

.tiny {
    font-family: body;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
}

.blog-list {
    margin-left: auto;
    margin-right: auto;
}

.post-year {
    font-size: 15px;
    color: #bdbdbd;
    font-family: mono;
    border-bottom: solid 1px #eee;
    letter-spacing: 0.5px;
}

.post-box {
    display: table;
    margin-top: 18px;
    margin-bottom: 18px;
}

.post-date {
    display: table-cell;
    width: 150px;
    font-size: 16px;
    font-family: mono;
}

.post-title {
    display: table-cell;
    padding: 0;
    font-family: mono;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
}

.figcaption {
    text-align: center;
    font-size: 18px;
}

.figcaption p {
    line-height: 1.2;
}

sup {
    vertical-align: top;
    position: relative;
    top: -0.5em;
    font-size: 15px;
}

em, strong {
    line-height: 15px; /* calibrated with 1.3em line height. /me shrugs. */
}

.gist {
    width: 700px;
}