{{ define "main" }}
<!-- <h1>Archive</h1> -->
<div class="blog-list">
{{ range .Pages.GroupByDate "2006" }}
    <h4 class="post-year"> {{ .Key }} </h3>
    {{ range .Pages }}
        {{ if not .Params.archived }}
            <div class="post-box">
                <span class="post-date">{{ .Date.Format "Jan 02" }}</span>
                <a class="post-title" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
            </div>
        {{ end }}
    {{ end }}
    </ul>
{{ end }}
</div>
{{ end }}
