{{ define "main" }}
  <div class="post">
    <h1> {{ .Title }} </h1>
    <div class="break-line"></div>
    <div class="timestamp"> {{ .Date.Format "January 2 2006" }} </div>
    {{ .Content | safeHTML }}
    <div class="post-ender">
      <div class="tag-list">
        <!-- TODO: Only show "TAGGED AS" if there are tags present.-->
        TAGGED AS:
        {{- range .Params.tags }}
          <div class="tag"><a href='{{ add "blog/tags/" . | absURL }}'>{{ . | upper }}</a></div>
        {{ end }}
      </div>
      <div class="share">
      <a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}&via={{ .Site.Params.twitter }}">
        <div class="share__image"> <img src='{{ "images/share-on-twitter.svg" | absURL }}'> </div>
        <div class="share__text">Share on Twitter</div>
      </a>
      </div>
      <!-- <hr> -->
      <div class="break-line"></div>
    </div>
    <div class="about">
      <div class="t2"> JOIN ME </div>
      {{ with .Site.GetPage "newsletter/after_post.md" }} {{ .Content }} {{ end }}
      <form
	action="https://tinyletter.com/RJ722"
	method="post"
	target="popupwindow"
	onsubmit="window.open('https://tinyletter.com/RJ722', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
	class="subscribe"
      >
          <input type="email" name="email" id="tlemail" spellcheck="false" class="subscribe__email" placeholder="Your best email" />
	  <input type="hidden" value="1" name="embed" />
          <input type="submit" class="subscribe__button" title="Subscribe" value="Subscribe"/>
      </form>
    </div>
  </div>
{{ end }}
