<head>
    <title> {{ .Title | title }} {{ if (not (eq .Title .Site.Title)) }} | {{ .Site.Title }} {{ end }} </title>
    <link rel="stylesheet" href='{{ "css/blog.css" | absURL }}'>
    <link rel="stylesheet" href='{{ "css/syntax.css" | absURL }}'>
    {{ if eq .Params.layout "wide" }}
        <link rel="stylesheet" href='{{ "css/wide.css" | absURL }}'>
    {{ end }}
    {{ if .Params.load_mathjax }}
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async
                src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
    {{ end }}

    <link rel="apple-touch-icon" sizes="180x180" href='{{ "/icons/apple-touch-icon.png" | absURL }}'>
    <link rel="icon" type="image/png" sizes="32x32" href='{{ "/icons/favicon-32x32.png" | absURL }}'>
    <link rel="icon" type="image/png" sizes="16x16" href='{{ "/icons/favicon-16x16.png" | absURL }}'>

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//crow.rj722.tk/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//crow.rj722.tk/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
</head>
